.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.headerLeft {
  display: flex;
  flex-direction: column;
}

.productCategory {
  font-size: 14px;
  text-transform: uppercase;
}

.headerRight {
  font-size: 20px;
}

.headerRight a {
  color: var(--white-color);
  transition: 300ms ease-in-out;
}

.headerRight a:hover {
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .headerRight {
    font-size: 23px;
  }
}

@media (min-width: 1333px) {
  .headerRight {
    font-size: 31px;
  }
}


.btn1 {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: none;
  height: 40px;
  width: 206px;
  transition: 0.4s ease-in-out;
  padding: 11px;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 15%);
}

.btn2 {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  height: 40px;
  width: 206px;
  transition: 0.4s ease-in-out;
  padding: 11px;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 15%);
  border-radius: 5px;
}

.btn1:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn1:disabled:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn2:hover {
  background-color: #46354e;
}

.btn2:disabled:hover {
  background-color: var(--primary-color);
}
